@media (max-width: 1080px) {
    body {
        background-image: url("https://p.xiaofankj.com.cn/images/2025/06/02/1748874689683db5c13e58e.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-attachment: fixed;
    }
}


@media (min-width: 1080px) {
    body {
        width: 100%;
        height: 100%;
        background: url("https://p.xiaofankj.com.cn/images/2025/06/02/1748873154683dafc242d84.jpg") no-repeat center center fixed;
        background-size: 100%;
        -webkit-background-size: cover;
        -o-background-size: cover;
    }
}


.tm-0 {
    opacity: 0.92;
}

.tm-1 {
    opacity: 0.82;
}